.conteiner{
    margin: 0% auto;
    padding: 20px;
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 16px;
}

.action{
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}

.action :hover {
    background: rgb(242, 204, 255);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.closeButton {
  background: rgb(190, 187, 187);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border-radius: 16px;
  border: 1px solid gainsboro;
}
